<!-- Band name with delete button -->
<form id="delete_form" class="form-inline" role="form" action="/bands/<%= @band.id() %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="delete">
    <h1>Band: <i><%= @band.name() %></i></h1>
  </div>
  <button id="delete_button" type="submit" class="glyphicon btn-danger"><i class="fa fa-trash-o"></i></button>
</form>
<br>

<!-- Venues listing -->
<% if @venues.any?() %>
  <br>
  <label for="venue_listing">Venue Listing</label>
  <div id="venue_listing">
    <% if @band.venues.any?() %>
      <p>
        <i><%= @band.name() %></i> <%= @band.modifier() %> played the following Venues:
      </p>
      <ul>
        <% @band.venues.each() do |venue| %>
          <li><i><%= venue.name() %></i></li>
        <% end %>
      </ul>
    <% else %>
      <p>
        <i><%= @band.name() %></i> <%= @band.modifier() %>n't played any venues yet.  You can add them <a href="#add_venue_form">below.</a>
      </p>
    <% end %>
  </div>

  <!-- Add Venue to Band -->
  <br><br>
  <label for="add_venue_form">Add Venues for <i><%= @band.name() %></i></label>
  <form id="add_venue_form" action="/bands/<%= @band.id() %>/add_venue" method="post">
    <input type="hidden" name="_method" value="patch">

    <div class="form-group">
      <label for="venue_select">Venue Played</label>
      <select id="venue_select" name="venue_select" type="text" class="form-control">
        <% @venues.each() do |venue| %>
          <option id="option_<%= venue.id() %>" value="<%= venue.id() %>"><%= venue.name() %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" name="btn btn-primary">Add</button>
  </form>
<% else %>
  <p>
    If you'd like to add venues to this band, please create venues <a href="/venues">here.</a>
  </p>
<% end %>

<!-- Update Band -->
<br><br>
<label for="update_form">Update <i><%= @band.name() %></i></label>
<form id="update_form" action="/bands/<%= @band.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <div class="form-group">
    <label for="band_name">Name</label>
    <input type="text" name="band_name" id="band_name" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
