<h1>Band: <i><%= @band.name() %></i></h1>
<br>
<!-- Update Band -->
<label for="update_form">Update <i><%= @band.name() %></i></label>
<form id="update_form" action="/bands/<%= @band.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="band_name">New Band Name</label>
    <input type="text" name="band_name" id="band_name" required>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<!-- Delete Band -->
<label for="delete_form">Delete <i><%= @band.name() %></i></label>
<form id="delete_form" action="/bands/<%= @band.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
